$bg: red;

// Required
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// Optional
@import '../node_modules/bootstrap/scss/tables'; // Tables
@import '../node_modules/bootstrap/scss/utilities'; // Text alignment
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss'; // grid row, col, etc.
@import '../node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Reset
@import '../node_modules/bootstrap/scss/buttons'; // Buttons
@import '../node_modules/bootstrap/scss/type'; //Typo (title, etc.)

// @import '../node_modules/bootstrap/scss/button-group';

h1 small {
    display: block;
}

.exos-group {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: red;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
    }
}

.exo {
    left: 0;
    top: 0;
    z-index: 0;

    &.active {
        z-index: 1;
    }
}

.table {
    td {padding: 0;}
    span {padding: 0.75rem;}
    caption {
        caption-side: inherit;
    }
}

.counter {
    width: 40%;
    right: 0;
    top: 0;
    z-index: 15;

    &[data-state="work"] {background: $success;}
    &[data-state="break"] {background: $danger;}

    &:before {
        content: '';
        display: block;
        padding-bottom: 40%;
    }

    .timer {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 10vw;
        font-weight: 700;
        justify-content: center;
        align-items: center;
    }

}

.play-pause {
    left: 0;
    top: 0;
    background: rgba($dark, .85);
    z-index: 10;
}

